* {
  box-sizing: border-box;
}

body {
  font-family: Ariel, Tahoma, sans-serif;
}

.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2e96f3;
  border-radius: 25px;
}

.info-container .name {
  float: left;
  width: 50%;
}

.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}

.memory-game-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap; /* 3shan lma el width y5las y3ml sattrr gdeed */
  margin: 20px auto;
}

.memory-game-blocks .game-block {
  height: 200px;
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}

.memory-game-blocks .game-block .front::before {
  content: '?';
  color: #2e96f3;
  font-size: 140px;
  font-weight: bold;
}

.memory-game-blocks .game-block .back {
  background-color: #607d88;
  transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}

.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 10px solid #2e96f3;
  border-radius: 25px;
  box-shadow: 0px 4px 12px 0px #999;
}

.memory-game-blocks .game-block.is-flipped {
  -webkit-transition: rotateY(180deg);
  -moz-transition: rotateY(180deg);
  transition: rotateY(180deg);
}
